
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
  }
  
header {
    height: 15vh;
    background-color: #6F83BF;
  }

#logo {
    color:white;
    font-size: 2rem;    
    margin-left: 2%;
} 

nav ul li {
    display: inline-block;
    border: 2px solid ;
    padding: 5px;
    border-radius: 5px;
    background-color:#000000;
}

nav ul {
    float: right;
}

a {
    text-decoration: none;
    color:white;
}

#ofertas {
    width: 1200px;
    height: 350px;
    background-color:#FFFFFF;
    margin-left: 350px;
    background-image: url("../assets/images/img-central-tejidos.png");

    border:2px solid black;
    
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
}

#productos {
    width: 1200px;
    height: 350px;
    background-color:#A6637C;
    margin-left: 350px;

    border-radius: 12px;
    border-width: 2px; 
}

.producto {
    width: 280px;
    height: 250px;
    display: inline-block;
    text-align: center;
    margin: 10px 5px 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;

}

#pago {
    width: 1200px;
    text-align: justify;
    margin-left: 350px;
    border: 1px solid black;
    border-radius: 12px;
    border-width: 2px; 
    text-align: center;
    font-size: 1.5rem;
    background-color: #F9E8FA;
}

main {
    height: 80vh;
  }
  
footer {
    height: 20%;
    background-color: #283039;
  }

  /* Texto del footer */
.footer-texto {
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }